<script type="text/javascript">
  var data = {};
  var release_tag = "<%= fetch_git_tag(GITHUB_RELEASE_ID) %>";
  var playtest_tag = "<%= fetch_git_tag(GITHUB_PLAYTEST_ID) %>";

  function initMapInfo(hash) {
    var doMap = function(map) {
      if ('title' in map)
        $('.map-'+hash).html(map['title']+'<br /><span class="gameSubline">'+map['map_type']+'&nbsp;('+map['players']+' Players)</span>');
    };
    if (hash in data) {
      doMap(data[hash]);
      return;
    }

    $.ajax({
      type: "GET",
      url: "http://resource.openra.net/map/hash/"+hash,
      statusCode: {
        404: function() {
          $('.map-'+hash).html('Unknown Map');
        }
      }
    }).done(function(msg) {
      data[hash] = {};
      var reply = jQuery.parseJSON(msg);
      if (!!reply[0])
           data[hash] = reply[0];

      doMap(data[hash]);
    });
  }

  function updateGameList() {
    $.ajax({
      type: "GET",
      url:  "http://master.openra.net/list_json.php"
    }).done(function(masterMessage) {
      $('#serverlist').empty();
      var masterReply = jQuery.parseJSON(masterMessage);
      var hashes = [];
      var activePlayers = 0;
      var activeServers = 0;
      for (var i in masterReply) {
        var game = masterReply[i];
        // Ignore empty servers or finished games
        if (game['players'] == 0 || game['state'] == 3)
          continue;

        activePlayers += parseInt(game['players']);
        activeServers++;
        var state = 'Unknown';
        var stateClass = '';
        switch (game['state']) {
          case '2': state = 'Playing'; stateClass = 'gamePlaying'; break;
          case '1': state = 'Waiting'; stateClass = 'gameWaiting'; break;
        }

        var modver = game['mods'].split('@');
        // Invalid entry
        if (modver.length != 2)
          continue;

        var tag = modver[1];
        var mod = 'Unknown Mod ('+modver[0]+')';
        switch (modver[0]) {
          case 'ra': mod = "Red Alert"; break;
          case 'cnc': mod = "Tiberian Dawn"; break;
          case 'd2k': mod = "Dune 2000"; break;

          // Third party mods
          case 'fgtn': mod = "The Forgotten Chapter"; break;
          case 'to': mod = "RA: Tiberium Origins"; break;
        }

        rowClass = '';
        if (modver[1] != release_tag & modver[1] != playtest_tag)
          rowClass = 'greyout';

        var row = $('<tr class="'+rowClass+'">');
        row.append('<td>'+game['name'].replace(/\\\'/g, "'")+'<br /><span class="gameSubline">'+game['address']+'</span></td>');
        row.append('<td><span class="'+stateClass+'">'+state+'</span><br /><span class="gameSubline">'+game['players']+(game['players'] == 1 ? ' player' : ' players')+'</span></td>');
        row.append('<td>'+mod+'<br /><span class="gameSubline">'+tag+'</span></td>');
        row.append('<td class="map-'+game['map']+'">Loading...</td></tr>');
        $('#serverlist').append(row);

        if ($.inArray(game['map'], hashes) < 0)
          hashes.push(game['map']);
      }

      if (activeServers == 0)
        $('#serverlist').append('<tr><td colspan="4">No active games found</td></tr>');

      for (var i in hashes)
        initMapInfo(hashes[i]);

      $('#activePlayers').text(activePlayers+(activePlayers == 1 ? ' player is' : ' players are'));
      $('#activeServers').text(activeServers);

      window.setTimeout(updateGameList, 30000);
    });
  }

  $(document).ready(function() {
    $('#serverlist').empty();
    $('#serverlist').append('<tr><td colspan="4">Loading server list...</td></tr>');
	updateGameList();
  });

</script>
<h3>Who's playing?</h3>
<p><span id="activePlayers">0 players are</span> online in <span id="activeServers">0</span> advertised servers.</p>
<table>
  <thead><tr><th>Server</th><th>Status</th><th>Mod</th><th>Map</th></tr></thead>
  <tbody id="serverlist"></tbody>
</table>
<noscript><div class="noscript">Please enable JavaScript to view the server list.</div></noscript>
